@tailwind base;
@tailwind components;
@tailwind utilities;



.map-container {
   @apply  h-[80vh] w-full /* or any other height you prefer */
     /* or any other width you prefer */
  }

  @layer components {
  
   .no-scrollbar1::-webkit-scrollbar {
      width: 5px;
      background-color:rgb(236, 235, 235);
    }
    .no-scrollbar::-webkit-scrollbar-thumb {
     
      background: linear-gradient(rgb(223, 125, 125),rgb(100, 100, 169));
    }
 
  
 }